[flake8]

        max-line-length = 88

        ignore =
                ; duplicates pylint
                F401,  ; imported but unused                                            dupes: unused-import
                F821,  ; Undefined variable 'write_config'                              dupes: undefined-variable
                F841,  ; local variable 'workbooks' is assigned to but never used       dupes: unused-variable
                E501,  ; line too long                                                  dupes: line-too-long
                W291,  ; trailing whitespace                                            dupes: trailing-whitespace
                W292,  ; no newline at end of file                                      dupes: missing-final-newline
                W293,  ; blank line contains whitespace                                 dupes: trailing-whitespace

                ; conflict with black
                E203,  ; whitespace before ':'
                W503,  ; line break before binary operator

                ; conflict with Better Comments extension
                E262,  ; inline comment should start with '#'
                E265,  ; block comment should start with '#'
