# Run "pip install -U wheel pip; pip install -r .\requirements.txt"
# Two stages so we can get wheel speed-ups in the second call to pip install.
# Pip after wheel to gracefully hit "WinError 5" in Windows at end of first call.

# install package in editable configuration
-e .  # comment this out if there's no "setup.py"

# build
wheel  # just in case you only do "pip install -r requirements.txt"
setuptools
twine

# document
sphinx
sphinx-rtd-theme

# experiment
jupyter

# format
black

# lint
bandit
flake8
flake8-bugbear
mypy
pylint
rstcheck

# refactor
rope

# test
pytest
