# install package in editable configuration
-e .

# build
setuptools
wheel
twine

# document
doc8

# experiment
jupyter

# format
black

# lint
bandit
flake8
flake8-bugbear
mypy
pylint

# refactor
rope

# test
pytest
